---
    import ClgSrchInput from './clg_srch_input.svelte'
    import ClgBtnSpawner from './clg_btn_spawner.svelte'

    interface College {
        name: string;
        address: {
            local: string;
            city: string;
            district: string;
            state: string;
            country: string;
        };
    }
    function cptlFstL(string:string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
---



<div
    class="min-h-screen max-h-max w-svw flex justify-center p-0 m-0 box-border"
>
    <!-- Status Bar -->
    <div class=" flex flex-col w-11/12 2xl:w-4/6  max-h-full">
        <div class=" w-full flex items-center mt-12 gap-4 ">
            
            <svg class=" w-5 dark:fill-white fill-black " width="1.25rem"
            height="1.25rem" xmlns="http://www.w3.org/2000/svg" data-v-91817bbc="" width="16" height="16" viewBox="0 0 16 16" ><path data-v-91817bbc="" clip-rule="evenodd" d="M3 7.95711L10.9571 15.9142L12.3713 14.5L5.82843 7.95711L12.3713 1.41421L10.9571 0L3 7.95711Z" /></svg>
            <!-- progrress-bar -->
            <div class=" bg-gray-200 dark:bg-neutral-700  w-full h-1 flex rounded-lg">
                <!-- progrress-bar-completed -->
                <span class=" w-1/6 bg-green-600 dark:bg-green-500  "></span>
            </div>
        </div>
        <label for="" class="font-[HelveticaWorld] text-3xl lg:text-5xl md:text-4xl sm:text-3xl mt-10 "
            >Tell us about your College</label
        >
        <div class=" w-full h-full flex flex-col items-center mt-10">
            <ClgSrchInput client:load />
                
            <ClgBtnSpawner client:load />
        </div>
    </div>
</div>