---
    import ClgSrchInput from './clg_srch_input.svelte'
    import ClgBtnSpawner from './clg_btn_spawner.svelte'

    interface College {
        name: string;
        address: {
            local: string;
            city: string;
            district: string;
            state: string;
            country: string;
        };
    }
    function cptlFstL(string:string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
---



<div
    class="  min-h-screen max-h-max w-svw flex justify-center p-0 m-0 box-border"
>
    <div class=" flex flex-col w-11/12 2xl:w-4/6  max-h-full">
        <div class=" w-full flex items-center mt-12 gap-4">
            <img
                src="svg/back_button.svg"
                width="1.25rem"
                height="1.25rem"
                alt=""
                srcset=""
                class=" w-5"
            />
            <!-- progrress-bar -->
            <div class=" bg-gray-200 w-full h-1 flex rounded-lg">
                <!-- progrress-bar-completed -->
                <span class=" w-1/6 bg-green-600"></span>
            </div>
        </div>
        <label for="" class="font-[HelveticaWorld] text-3xl lg:text-5xl md:text-4xl sm:text-3xl mt-10 "
            >Tell us about your College</label
        >
        <div class=" w-full h-full flex flex-col items-center mt-10">
            <!-- search-container -->
            <div
                class="lg:w-96 lg:h-14 lg:p-3 md:text-lg text-sm sm:w-80 sm:h-12 sm:p-2 w-2/3 h-10 p-1 rounded-full b bg-gradient-to-r from-[#FFF7AD] to-[#FFA9F9] flex items-center justify-between "
            >
                <div
                    class=" rounded-full bg-[#004AAD] lg:w-10 lg:p-2 sm:w-8 sm:p-2 w-6 p-1 text-white fill-white"
                >
                    <img src="svg/search-icon.svg" alt="" srcset="" />
                </div>

                <ClgSrchInput />
                
                <button>
                    <img
                        src="svg/cross.svg"
                        alt=""
                        srcset=""
                        class=" sm:w-5 w-3  mr-2"
                    />
                </button>
            </div>
            <ClgBtnSpawner />
        </div>
    </div>
</div>