---
    import InputForm from '../inputForm.layout.astro'
    import ClgSrchInput from './clg_srch_input.svelte'
    import ClgBtnSpawner from './clg_btn_spawner.svelte'

    interface College {
        name: string;
        address: {
            local: string;
            city: string;
            district: string;
            state: string;
            country: string;
        };
    }
    function cptlFstL(string:string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
---


<InputForm>
    <div class=" flex flex-col w-11/12 2xl:w-4/6  max-h-full">
        
        <label for="" class="font-[HelveticaWorld] text-3xl lg:text-5xl md:text-4xl sm:text-3xl mt-10 "
            >Tell us about your College</label
        >
        <div class=" w-full h-full flex flex-col items-center mt-10">
            <ClgSrchInput client:load />
            
            <div class="pb-5 w-full h-full max-h-fit bg-gradient-to-tr from-[#FFF7AD] to-[#FFA9F9] dark:bg-gradient-to-r dark:from-[#28282646] dark:via-[#372d37c2] dark:to-[#525252c2] mt-4 rounded-t-3xl font-[poppins]  dark:border-t dark:border-l dark:border-[#3d3d3d] relative">
                <button class="bg-gradient-to-tr from-[#FFF7AD] to-[#FFA9F9] dark:bg-gradient-to-r dark:from-[#1F1E1F] dark:to-[#232022] text-lg absolute px-10 py-2 rounded-t-3xl bottom-[99.99%] z-10 left-24 dark:border-x dark:border-t dark:border-[#3d3d3d] after:content-[''] after:w-full after:rounded-es-full after:h-[50%] after:bg-none after:absolute after:left-[100%] after:bottom-0 clear-button after:dark:border-l after:dark:border-b after:dark:border-[#3d3d3d]     before:content-[''] before:w-[20px] before:rounded-ee-full before:h-[50%] before:bg-none before:absolute before:right-[100%] before:bottom-0 clear-button before:dark:border-r before:dark:border-b before:dark:border-[#3d3d3d]  " >Clear</button>

                <ClgBtnSpawner client:load />
            </div>
        </div>
    </div>
</InputForm>

<style>
    .clear-button::after{
        /* border: solid #fff 1px; */
        box-shadow: -20px 0 0 0 #242124;

    }
</style>