<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="hero">
            <div class="bloom-svg-container">
                <svg width="932" height="524" viewBox="0 0 932 524" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_f_4_5)">
                    <path d="M831.5 113.5C831.5 218.986 314 605.581 233 319.581C127.514 319.581 100 167.486 100 62C100 -43.4864 238.014 -128 343.5 -128C448.986 -128 831.5 8.01361 831.5 113.5Z" fill="url(#paint0_angular_4_5)"/>
                    </g>
                    <defs>
                    <filter id="filter0_f_4_5" x="0" y="-228" width="931.5" height="751.022" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_4_5"/>
                    </filter>
                    <radialGradient id="paint0_angular_4_5" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(409.5 28.0814) rotate(90) scale(191 191)">
                    <stop offset="0.0157661" stop-color="#F5FF7C"/>
                    <stop offset="0.745926" stop-opacity="0"/>
                    </radialGradient>
                    </defs>
                    </svg>
                    
            </div>
            <div class="hero-card-container">
                <div class="hero-card hero-card1">
                    <div class="text">
                        An Open Source effort
                        <br />
                        <span>for students, by a student</span>
                    </div>
                    <div class="">
                        <img
                            id="student-img"
                            src="/views/assets/images/man_sitting_on_desk.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card2">
                    Giving top secret Gold in student's Hands 🤐🙊
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card3">
                    Here to save you in the last days
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card4">
                    You get from community, you give to the community. It's an
                    collaborative effort
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card5">
                    Helping Juniors connect with thier Seniors
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card5">
                    Post your projects, get ratings and feedback
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card6">
                    Be a part of the reviewing system. Vote the best ones
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Get special resources and features if you are an contributor
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Working on an AI Assistant to supercharge your Learnings
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Support the project on GitHub.
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Explore Now! (no annoying signups)
                </div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
