<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="hero">
            
            <div class="hero-card-container">
                
                <div class="hero-card hero-card1">
                    <div class="text">
                        An Open Source effort
                        <br />
                        <span>for students, by a student</span>
                    </div>
                    <div class="">
                        <img
                            id="student-img"
                            src="/views/assets/images/man_sitting_on_desk.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="bloom-container">
                    <div class="bloom bloom1">
                        <svg
                            viewBox="0 0 1000 1000"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <defs>
                                <linearGradient
                                    id="b"
                                    gradientTransform="rotate(-45 .5 .5)"
                                >
                                    <stop offset="0%" stop-color="#f8ff7b" />
                                    <stop offset="100%" stop-color="#00000000" />
                                </linearGradient>
                                <clipPath id="a">
                                    <path
                                        fill="currentColor"
                                        d="M765.5 553.5Q607 607 553.5 652T358 740.5Q216 784 187.5 642t2.5-281.5q31-139.5 170.5-112t285-6q145.5-33.5 212 112t-92 199Z"
                                    />
                                </clipPath>
                            </defs>
                            <g clip-path="url(#a)">
                                <path
                                    fill="url(#b)"
                                    d="M765.5 553.5Q607 607 553.5 652T358 740.5Q216 784 187.5 642t2.5-281.5q31-139.5 170.5-112t285-6q145.5-33.5 212 112t-92 199Z"
                                />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card2">
                    Giving top secret Gold in student's Hands 🤐🙊
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card3">
                    Here to save you in the last days
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card4">
                    You get from community, you give to the community. It's an
                    collaborative effort
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card5">
                    Helping Juniors connect with thier Seniors
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card5">
                    Post your projects, get ratings and feedback
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card6">
                    Be a part of the reviewing system. Vote the best ones
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Get special resources and features if you are an contributor
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Working on an AI Assistant to supercharge your Learnings
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Support the project on GitHub.
                </div>
            </div>

            <div class="hero-card-container">
                <div class="hero-card hero-card7">
                    Explore Now! (no annoying signups)
                </div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
