<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>An Open Source effort, for students by a student</h1>
    <h1>Giving top secret Gold in student's Hands 🤐🙊</h1>
    <h1>Here to save you in the last days</h1>
    <h1>You get from community, you give to the community. It's an collaborative effort</h1>
    <h1>Helping Juniors connect with thier Seniors</h1> 
    <h1>Post your projects, get ratings and feedback</h1>
    <h1>Be a part of the reviewing system. Vote the best ones</h1>
    <h1>Get special resources and features if you are an contributor</h1>
    <h1>Working on an AI Assistant to supercharge your Learnings</h1>
    <h1>Support the project on GitHub.</h1>
    <h1>Explore Now! (no annoying signups)</h1>
    <script src="index.js"></script>
</body>
</html>