---
import InputForm from "../inputForm.layout.astro";
---

<InputForm>
    <div class="hero min-h-screen w-full">
        <div class="hero-content flex-col lg:flex-row">
            <img
                src="svg/undraw_astronaut_re_8c33.svg"
                class="max-w-sm rounded-lg shadow-2xl"
            />
            <div>
                <h1 class="text-5xl font-bold">Finished!</h1>
                <p class="py-6">
                    Thanks for Patience.
                    This Effort will let us make better Prediction about what you need when you use this service next time
                </p>
                <button class="btn btn-success">Home</button>
            </div>
        </div>
    </div>
</InputForm>
