---
import Main from "../layouts/main.astro";
// import CollegeSelect from '../components/get_started/college_selection/collegeSelect.svelte'
import CollegeSelect from '../components/get_started/college_selection/collegeSelect.astro'
import colleges from "../data/collegelist.json"

---

<Main title="Get Started">
    <div class="w-100svw overflow-hidden" > 
        <div class="flex w-[200svw] ">
            <CollegeSelect colleges={colleges}/>
        </div>
    </div>
</Main>
