---
import Main from "../layouts/main.astro";
// import CollegeSelect from '../components/get_started/college_selection/collegeSelect.svelte'
import CollegeSelect from "../components/get_started/1_college_selection/collegeSelect.astro";
import CourseSelect from "../components/get_started/2_course_selection/courseSelect.astro";
import FinishPage from "../components/get_started/z_finish_page/finishPage.astro";
import colleges from "../data/collegelist.json";
---

<Main title="Get Started">
    <div
        class="dark:text-white dark:bg-[#181818] flex flex-col min-h-screen h-screen max-h-max"
    >
        <!-- Header -->
        <div class="w-full flex justify-center items-center pt-12">
            <div class="w-11/12 2xl:w-4/6 flex items-center gap-4">
                <svg
                    class="w-5 dark:fill-white fill-black active:scale-90 transition-all duration-150 opacity-25"
                    id="back_button"
                    width="1.25rem"
                    height="1.25rem"
                    xmlns="http://www.w3.org/2000/svg"
                    data-v-91817bbc=""
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    ><path
                        data-v-91817bbc=""
                        clip-rule="evenodd"
                        d="M3 7.95711L10.9571 15.9142L12.3713 14.5L5.82843 7.95711L12.3713 1.41421L10.9571 0L3 7.95711Z"
                    ></path></svg
                >
                <!-- progrress-bar -->
                <div
                    class="bg-gray-200 dark:bg-neutral-700 w-full h-1 flex rounded-lg"
                    id="progress-container"
                >
                    <!-- progrress-bar-completed -->
                    <span
                        class="transition-all duration-1000 ease-[cubic-bezier(.4,.7,0,1)] bg-green-600 dark:bg-green-500"
                        id="progress-completed"
                        style="width:0px"></span>
                </div>
                <button
                    id="next_button_btn"
                    aria-label="nextButton"
                    class="btn btn-success btn-disabled">Next</button
                >

                <svg
                    id="next_button_svg"
                    aria-label="nextButton"
                    class="w-5 dark:fill-white fill-black rotate-180 active:scale-90 transition-all duration-150 opacity-25"
                    width="1.25rem"
                    height="1.25rem"
                    xmlns="http://www.w3.org/2000/svg"
                    data-v-91817bbc=""
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    ><path
                        data-v-91817bbc=""
                        clip-rule="evenodd"
                        d="M3 7.95711L10.9571 15.9142L12.3713 14.5L5.82843 7.95711L12.3713 1.41421L10.9571 0L3 7.95711Z"
                    ></path></svg
                >
            </div>
        </div>

        <div class="h-full max-h-max overflow-x-hidden relative">
            <!-- Mover Element -->
            <div
                class="flex h-full relative transition-all ease-[cubic-bezier(.4,.7,0,1)] duration-1000 left-0"
                id="mover-element"
            >
                <CollegeSelect/>
                <CourseSelect />
                <FinishPage/>
            </div>
        </div>
    </div>
</Main>

<script>
    let progBar: HTMLSpanElement | null = document.querySelector(
        "#progress-completed"
    );
    let progCon: HTMLDivElement | null = document.querySelector(
        "#progress-container"
    );
    let moverElem: HTMLDivElement | null =
        document.querySelector("#mover-element");
    let nextButtonSvg: SVGElement | null =
        document.querySelector("#next_button_svg");
    let nextBtns: NodeListOf<HTMLElement> = document.querySelectorAll(
        '[aria-label="nextButton"]'
    );
    let nextButton: SVGElement | null =
        document.querySelector("#next_button_btn");

    let backButton: SVGElement | null = document.querySelector("#back_button");

    if (moverElem && progCon && progBar) {
        moverElem.style.width = moverElem.children.length * 100 + "%";
    }
    let spwnedBtns: NodeListOf<HTMLButtonElement> | null =
        document.querySelectorAll('[aria-label="trig_button"]');

    nextBtns.forEach((item) => {
        item.addEventListener("mousedown", (event) => {
            event.preventDefault();
            if (!nextButtonSvg ||!moverElem ||!progBar ||!progCon ||!backButton)return;
            if (progBar.offsetWidth == progCon.offsetWidth) return;

            moverElem.style.left =
                Math.max(
                    parseInt(
                        moverElem.style.left ? moverElem.style.left : "0"
                    ) - 100,
                    (moverElem.children.length - 1) * -100
                ) + "%";

            progBar.style.width =
                Math.min(
                    Math.ceil(
                        parseInt(progBar.style.width) +
                            100 / (moverElem.children.length - 1)
                    ),
                    100
                ) + "%";
            if (!(progBar.style.width == "0%") || !progBar.style.width) {
                backButton.style.opacity = "1";
                nextButton?.classList.remove("btn-disabled");
            }
        });

        item.addEventListener("mouseup", (event) => {
            event.preventDefault();
            if (!nextButtonSvg) return;
            nextButtonSvg.style.opacity = "0.4";
            nextButton?.classList.add("btn-disabled");
        });
    });

    backButton?.addEventListener("mousedown", (event) => {
        event.preventDefault();
        if (!moverElem || !progBar || !progCon || !backButton) return;
        if (progBar.offsetWidth == 0) return;
        moverElem.style.left =
            Math.min(parseInt(moverElem.style.left) + 100, 0) + "%";

        progBar.style.width =
            Math.max(
                parseInt(progBar.style.width) -
                    100 / (moverElem.children.length - 1),
                0
            ) + "%";

        if (progBar.style.width == "0%") {
            backButton.style.opacity = "0.4";
        } else {
            backButton.classList.add("active:scale-90");
        }
    });
    backButton?.addEventListener("mouseup", (event) => {
        event.preventDefault();
        if (!progBar || !backButton) return;
        if (progBar.style.width == "0%") {
            backButton.classList.remove("active:scale-90");
        }
    });

    spwnedBtns.forEach((btn) => {
        btn.addEventListener("mousedown", () => {
            if (!nextButtonSvg) return;
            nextButtonSvg.style.opacity = "1";
            nextButton?.classList.remove("btn-disabled");
        });
    });
</script>
