---
import MyPic from "../assets/images/my_pic.jpg";
import { Image } from "astro:assets";
import Layout from "../layout/main.astro";
import { initializeApp } from "firebase/app";
import { getDownloadURL, getStorage, ref } from "firebase/storage";

const firebaseConfig = {
  apiKey: "AIzaSyCBEMNDreKhZaViwfwSUXvP8bnLCYsJOW0",
  authDomain: "learningtrade-d5b63.firebaseapp.com",
  databaseURL: "https://learningtrade-d5b63-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "learningtrade-d5b63",
  storageBucket: "learningtrade-d5b63.appspot.com",
  messagingSenderId: "791609082751",
  appId: "1:791609082751:web:16721f348732e463ab904a",
  
};

const app = initializeApp(firebaseConfig);
const storage = getStorage(app);
const asset = ref(storage, 'gs://learningtrade-d5b63.appspot.com/assets/PYQ/DBMS-2022-4 (2).pdf');

getDownloadURL(asset).then((url) => {
    console.log(url);
});


const data = {
    PYQ: [
        {
            name: "DBMS",
            year: "2024",
            link: "src/assets/pdfs/DBMS-2022-4 (2).pdf"
        },
        {
            name:"IS",
            year: "2022",
            link: "src/assets/pdfs/IS-2022-2 (1).pdf"
        }
    ]
}

---

<Layout title="Home">
    <style>
        #container::before {
                filter: url(#grainy);
            }
    </style>
    <div class="overflow-x-hidden w-screen">
        <svg class="hidden">
            <filter id="grainy">
                <feTurbulence type="fractalNoise" baseFrequency="0.6"
                ></feTurbulence>
                <feComposite
                    operator="in"
                    in2="SourceGraphic"
                    result="monoNoise"></feComposite>
            </filter>
        </svg>
        <div
            class="bg-[#121212] w-screen h-screen before:content-[''] before:w-[50rem] before:top-[-200px] before:left-[-200px] before:opacity-10 before:aspect-square before:bg-gradient-to-tr before:from-orange-400 before:to-red-300 before:absolute before:rounded-full after:content-[''] after:w-[50rem] after:right-[-200px] after:bottom-[-200px] after:opacity-10 after:aspect-square after:bg-gradient-to-tr after:from-violet-600 after:to-fuchsia-600 after:absolute after:rounded-full"
        >
            <div
                id="container"
                class="bg-[#ffffff11] w-full h-full backdrop-blur-3xl flex justify-center z-20 relative before:content-[''] before:absolute before:left-0 before:top-0 before:opacity-30 before:w-full before:h-full before:bg-black flex-col"
            >
                <!-- Top Bar -->
                <header
                    class="w-full flex justify-between px-10 h-min items-center mt-4 z-10"
                >
                    <nav
                        class="mr-7 w-full h-12 border-[1px] border-[#444] rounded-box bg-gradient-to-tr from-[#ffffff00] to-[#ffffff44] flex items-center justify-between px-4"
                    >
                        <ul class="menu menu-horizontal">
                            <li>
                                <a class="tooltip" data-tip="Home">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        ><path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                                        ></path></svg
                                    >
                                </a>
                            </li>
                            <li>
                                <a class="tooltip" data-tip="Details">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        ><path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                        ></path></svg
                                    >
                                </a>
                            </li>
                            <li>
                                <a class="tooltip" data-tip="Stats">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        ><path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                                        ></path></svg
                                    >
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="avatar online">
                        <div class="w-16 mask mask-squircle">
                            <Image src={MyPic} alt={"Icon"} />
                        </div>
                    </div>
                </header>

                <!-- Content -->
                <main
                    class="w-full h-full flex "
                    >
                    <div class="flex  z-50">
                        {
                            data.PYQ.map(element => {
                                return <embed class=" w-3  ">
                                    <embed src={element.link} type="application/pdf" width="1000px">
                                    <p> {element.name}</p>
                                </div>
                            })
                        }
                    </div>
                </main>
            </div>
        </di>
    </div>
</Layout>