---

--- 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        
        <title>Astro</title>
    </head>
    <body class="overflow-x-hidden">
        <!-- SUn light Hitting notes -->
        <!-- Black hole Abosorbing unwanted thinga and only usefull stuff remains -->
        <!-- student at the rigght side of the view and as scrolling -->
        <!-- Fan ne unwanted notes uda diye aur usefull reh gae -->
        <!-- A bot sleeping then clikng it wakes him up and he gives notes and sleeps again -->
    </body>
</html>
